/*------------------BEGIN TOP------------------*/

.top {
	background: #f6f9f9;
	&__wrapper {
		.wrapper();
		height:100px;
		border: 1px solid transparent;
		box-sizing: content-box;
	}
	&__logo {
		height: 37px;
		margin: 30px 0 0 27px;
	}
}

/*------------------END TOP------------------*/


/*------------------BEGIN BANNER------------------*/

.banner {
	background: url("../img/banner-bg.jpg") no-repeat center center;
	background-size: cover;
	position: relative;
	&__wrapper {
		height: 800px;
		text-align: center;
		.wrapper();
	}
	&__content {
		width: 600px;
		display: inline-block;
		text-align: center;		    
	}
	&__header {
		font-size: 11rem;
		line-height: 1;
		letter-spacing: 5px;
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
		padding: 18px 100px;
		margin: 186px 0 0 0;
		border-bottom: solid 2px @border-color;
	}
	&__desc {
		display: inline-block;
		font-size: 2rem;
		line-height: 1;
		color: #fff;
		margin: 40px 0 85px; 
		padding: 0;  
	}
	&__down {
		margin: 0 0 0 (1140px/2px-10px);
		position: absolute;
		bottom: 90px;
	}
}

/*------------------END BANNER------------------*/


/*------------------BEGIN SIMLE------------------*/

.simple {
	background: #f6f9f9;
	&__wrapper {
		.wrapper();
		text-align: center;
	}
	&__header {
		font-size: 4rem;
		letter-spacing: 1px;
		color: @h1-color;
		margin: 70px 0 10px;
		display: inline-block;
		font-weight: normal;
	}
	&__desc {
		font-size: 2rem;
		color: #999999;
		line-height: 3.2rem;
		display: inline-block;
		margin-bottom: 110px;
		padding: 0 20px;
	}
}

/*------------------END SIMLE------------------*/

/*------------------BEGIN FEATURE------------------*/

.feature {
	&__wrapper {
		.wrapper();
	}
	&__item {
		width: 300px;
		float: left;
		padding: 0 40px;
		text-align: center;
		margin-top: 66px;
	}
	&__icon-wrap {
		width: 50px;
		height: 100px;
		border-left: 50px solid #48baff;
		background: #5fc3ff;
		display: inline-block;
		border-radius: 3px;
	}
	&__icon {
		height: 53px;
		background: url("../img/sprite.png") no-repeat;
		margin-top: 25px;
		&--mobile {
			background-position: 0 0;
			width: 30px;
			margin-left: -15px;
		}
		&--plane {
			background-position: -35px 0;
			width: 46px;
			margin-left: -23px;
		}
		&--louder {
			background-position: -80px 0;
			width: 42px;
			margin-left: -21px;
		}
	}
	&__header {
		font-size: @h2-size;
		color: @h1-color;
		font-weight: normal;
		margin-bottom: 16px;
	}
	&__desc {
		font-size: @p-size;
		line-height: @p-height;
		color: #999;
		margin-bottom: 70px;
	}

}

/*------------------END FEATURE------------------*/


/*------------------BEGIN PORTFOLIO------------------*/

.portfolio {
	background: #f6f9f9;
	&__wrapper {
		.wrapper();
		text-align: center;
	}
	&__header {
		font-size: 4rem;
		letter-spacing: 1px;
		color: @h1-color;
		margin: 70px 0 0;
		display: inline-block;
		font-weight: normal;
	}
	&__desc {
		font-size: @p-size;
		color: #999;
		margin-bottom: 70px;
	}
	&__wrapper-items {
		margin-bottom: 120px;
	}
	&__item {
		width: 360px;
		height: 260px;
		float: left;
		margin: 0 30px 30px 0;
		border-radius: 3px;
		overflow: hidden;
	}
	&__item-hover {
		width: 100%;
		height: 100%;
		background: rgba(21, 164, 250 ,.9);
		border-radius: 3px;
		display: block;
		text-align: center;
		transition: all 0.25s ease;
		margin-left: -360px;
	}
	&__item:hover &__item-hover {
		display: block;
		margin-left: 0;
		transition: all 0.5s ease;

	}
	&__item:nth-child(1) {
		background: url("../img/img1.jpg") no-repeat;
	}
	&__item:nth-child(2) {
		background: url("../img/img2.jpg") no-repeat;
	}
	&__item:nth-child(3) {
		background: url("../img/img3.jpg") no-repeat;
		margin: 0 0 30px 0;
	}
	&__item:nth-child(4) {
		background: url("../img/img4.jpg") no-repeat;
		margin: 0 30px 0 0;
	}
	&__item:nth-child(5) {
		background: url("../img/img5.jpg") no-repeat;
		margin: 0 30px 0 0;
	}
	&__item:nth-child(6) {
		background: url("../img/img6.jpg") no-repeat;
		margin: 0;
	}
}

/*------------------END PORTFOLIO------------------*/


/*------------------BEGIN FORMS------------------*/

.forms {
	background: url("../img/forms-bg.jpg") no-repeat top center;
	height: 700px;
	&__wrapper {
		.wrapper();
		text-align: center;
	}
	&__header {
		font-size: 4rem;
		letter-spacing: 1px;
		color: #fff;
		margin: 70px 0 0;
		display: inline-block;
		font-weight: normal;
	}
	&__desc {
		font-size: @p-size;
		color: #999;
		margin-bottom: 50px;
	}
	&__quickly {
		font-size: @p-size;
		color: #999;
		margin-top: 250px;
	}
}


/*------------------END FORMS------------------*/



/*------------------BEGIN FOOTER------------------*/

.footer {
	background: #f6f9f9;
	height: 90px;
	&__wrapper {
		.wrapper();
	}
	&__copy {
		font-size: @p-size;
		color: #999;
		margin-top: 40px;
		float: left;
	}
	&__social-wrapper {
		margin-top: 25px;
		float: right;
	}
}
.social-icon {
	width: 40px;
	height: 40px;
	background:	url("../img/sprite.png") no-repeat #15a4fa;
	border-radius: 3px;
	display: block;
	margin-right: 5px;
	float: left;
	transition: all 0.1s linear;
	&--f {
		background-position: -229px 11px;
		&:hover {
			background-color: #3b5998;
			transform: scale(1.05);
		};
	}
	&--tw {
		background-position: -270px 14px;
		&:hover {
			background-color: #55acee;
			transform: scale(1.05);
		};
	}
	&--g {
		background-position: -312px 13px;
		&:hover {
			background-color: #dd4b39;
			transform: scale(1.05);
		};
	}
	&--in {
		background-position: -353px 13px;
		&:hover {
			background-color: #0976b4;
			transform: scale(1.05);
		};
	}
}

/*------------------END FOOTER------------------*/