/*------------------BEGIN TOP------------------*/

.top {
	background: #f6f9f9;
	&__wrapper {
		.wrapper();
		height:100px;
		border: 1px solid transparent;
		box-sizing: content-box;
	}
	&__logo {
		height: 37px;
		margin: 30px 0 0 27px;
	}
}

/*------------------END TOP------------------*/


/*------------------BEGIN BANNER------------------*/

.banner {
	background: url("../img/banner-bg.jpg") no-repeat center center;
	background-size: cover;
	&__wrapper {
		height: 800px;
		text-align: center;
		.wrapper();
	}
	&__content {
		width: 600px;
		display: inline-block;
		text-align: center;		    
	}
	&__header {
		font-size: 11rem;
		line-height: 1;
		letter-spacing: 5px;
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
		padding: 18px 100px;
		margin: 186px 0 0 0;
		border-bottom: solid 2px @border-color;
	}
	&__desc {
		display: inline-block;
		font-size: 2rem;
		line-height: 1;
		color: #fff;
		margin: 40px 0 85px; 
		padding: 0;  
	}
	&__down {
		margin: 195px 0 0 (1140px/2px-10px);
	}
}

/*------------------END BANNER------------------*/


/*------------------BEGIN SIMLE------------------*/

.simple {
	background: #f6f9f9;
	&__wrapper {
		.wrapper();
		text-align: center;
	}
	&__header {
		font-size: 4rem;
		letter-spacing: 1px;
		color: @h1-color;
		margin: 70px 0 10px;
		display: inline-block;
		font-weight: normal;
	}
	&__desc {
		font-size: 2rem;
		color: #999999;
		line-height: 3.2rem;
		display: inline-block;
		margin-bottom: 110px;
		padding: 0 20px;
	}
}

/*------------------END SIMLE------------------*/

/*------------------BEGIN FEATURE------------------*/

.feature {
	&__wrapper {
		.wrapper();
	}
	&__item {
		width: 300px;
		float: left;
		padding: 0 40px;
		text-align: center;
		margin-top: 66px;
	}
	&__icon-wrap {
		width: 50px;
		height: 100px;
		border-left: 50px solid #48baff;
		background: #5fc3ff;
		display: inline-block;
		border-radius: 3px;
	}
	&__icon {
		height: 53px;
		background: url("../img/sprite.png") no-repeat;
		margin-top: 25px;
		&--mobile {
			background-position: 0 0;
			width: 30px;
			margin-left: -15px;
		}
		&--plane {
			background-position: -35px 0;
			width: 46px;
			margin-left: -23px;
		}
		&--louder {
			background-position: -80px 0;
			width: 42px;
			margin-left: -21px;
		}
	}
	&__header {
		font-size: @h2-size;
		color: @h1-color;
		font-weight: normal;
		margin-bottom: 16px;
	}
	&__desc {
		font-size: @p-size;
		color: #999;
		margin-bottom: 70px;
	}

}

/*------------------END FEATURE------------------*/